* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cairo', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto Slab', serif;


}

.all {}

.container {
    position: relative;
    left: 150px;
    top: 150px;
}

.navbar {
    background-color: #646464 !important;
}

.navbar-brand img {
    width: 150px;
}

.container-fluid {
    margin: 0 40px;
}

.navbar-toggler-icon {
    color: white;
}

.nav-item a {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/* header code css */
.header {
    width: 100%;
    height: 690px;
    background-color: #333333;
    position: relative;
    overflow: hidden;
}

.header .bg1 {
    height: 696px;
    margin-top: -70px;

}

.header .bg3 {
    width: 50%;
    height: 896px;
    display: inline-block;
    background-color: #333333;
    position: relative;
    top: -870px;
    left: 600px;


}

.header .bg2 {
    width: 33.3%;
    position: relative;
    left: -200px;
    top: -8px;

}

.text {
    width: 550px;
    position: relative;
    top: -1500px;
    z-index: 1;
    color: white;
    left: 700px;
}

.text h2 {
    padding: 0 0 10px 0;
    font-size: 60px;
    font-weight: bold;
    color: #ffc200;
}

.text p {
    padding: 20px;
    font-size: 20px;
    text-align: left;
}

.text button {
    margin: 0 0 0 20px;
    padding: 7px 30px;
    border-radius: 5px;
    background-color: #ffc200;
    font-weight: bold;
    color: white;
    border: none;
}

.text button:hover {
    color: #ffc200;
    background-color: white;

}

.icon-img-bg {
    position: relative;
    top: -1500px;
}

.icon-img-bg #d1 {
    position: relative;
    top: -250px;
    left: 500px;
    opacity: 0.5;
    width: 200px;
}

.icon-img-bg #d2 {
    position: relative;
    top: 50px;
    left: 1000px;
    opacity: 0.6;
    width: 100px;
}

.icon-img-bg #d3 {
    position: relative;
    top: -150px;
    left: 700px;
    opacity: 0.4;
    width: 80px;
}

.icon-img-bg #d4 {
    position: relative;
    top: -350px;
    left: 1000px;
    opacity: 0.7;
    width: 60px;
}

.icon-img-bg #d5 {
    position: relative;
    top: -350px;
    left: 600px;
    opacity: 0.7;
    width: 70px;
}

.icon-img-bg #d6 {
    position: relative;
    top: 20px;
    left: 50px;
    opacity: 0.3;
    width: 70px;
}

.icon-img-bg #d7 {
    position: relative;
    top: 100px;
    left: 200px;
    opacity: 0.5;
    width: 200px;
}

.bestFood .best h2 {
    margin-top: 80px;
}

.bestFood .best h2,
p {
    text-align: center;

}

.container-best {
    margin-left: -30px;
    margin-top: -50px;
}

.card {
    margin-bottom: 20px;
}

/* OrientalTaste code css */
.OrientalTaste {
    position: relative;
    top: 200px;
    background-color: #333333;
    height: 1200px;
    overflow: hidden;
}

.tastes {
    position: relative;
    top: -200px;
    left: 100px;
}

.card1 {
    position: relative;
    top: 60px;
}

.taste {
    width: 100%;
    height: 700px;
    background-color: #333333;



}

#img12 {
    border-radius: 50%;
    width: 300px;
}

.tasteBg1 {
    transform: rotate(90deg);
    width: 800px;

}

.tasteBg2 {
    transform: rotate(270deg);
    width: 800px;

}

.card {
    background: none !important;
    border: none !important;
    text-align: left;
}

.card1 h4 {
    color: #ffc200;
    font-weight: bolder;
}

.card1 p {
    color: white;
    text-align: left;
}

.card-body a {
    background-color: #ffc200 !important;
    border: none;
}

#img18 {
    position: relative;
    left: -90px;
    top: 70px;
    border-radius: 50%;
    width: 300px;
}

.card1 {
    margin-top: 70px;

}

/* start Statistics code */


.Statistics h3 {
    text-align: center;
    color: #ffc200;
    margin-top: 100px;

}

.Statistics p {
    width: 700px;
    color: #ffffff;
    margin: auto;
}

.gridStatistics {
    margin-left: -280px;
}

.col_roW h1 {
    color: #ffc200;
}

.col_roW h4 {
    color: #ffffff;
}

.tast {
    margin-top: 100px;
}

.tast .card2 {
    width: 400px;
    margin-top: 50px;
}

.tast .card2 h5 {
    color: #ffc200;
}

.tast .card2 p {
    color: #ffffff;
    text-align: left;

}

#img12 {
    border-radius: 50%;
    width: 300px;
    margin-top: -20px;
    margin-left: 200px;

}

/* start Lenora Fields code */
.lenoraFields {
    position: relative;
    top: 200px;
    width: 100%;
    height: 500px;
    background-image: url('../imags/bg4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lenoraFields .ovarly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 196, 0, 0.2);
}

#carouselExampleSlidesOnly {
    position: relative;
    top: 150px;
}

.carousel-item h2 {
    margin: auto;
    color: #ffc200;
    background-color: white;
    padding: 7px 20px;
    width: 245px;
    border-radius: 10px;
}

.carousel-item p {
    width: 70%;
    margin: 50px auto;
    color: #000;
    background-color: #ffffff8c;
    padding: 10px 20px;

}
/* start footer code */
.site-footer
{
  position: relative;
  top: 200px;
  height: 400px;
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.row_container{
margin-top: -100px;
margin-left: -100px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

/* ------- */
@media (max-width: 768px) {
    .header {
        height: 600px;
    }

    .text {
        width: 300px;
        margin-left: -700px;
        margin-top: -100px;


    }
    .site-footer
    {
      padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
      text-align:center
    }
    .container-best {
        margin-left: -100px !important;
    }

    .card1 {
        position: relative;
        left: 30px;
        top: -100px;


    }

    #img18 {
        position: relative;
        left: -145px;
        top: 200px;
    }

    .tastes {
        

    }

    .tastes {
        margin-top: 100px;
        margin-left: -200px;
        
    }
    .Statistics{
        margin-top: -200px;
    }
    .Statistics p {
        width: 400px;

    }

    .col_roW h1,
    h2 {
        margin: 0;
    }

    .img12 {
        display: none;
    }

    .tast .card2 {
        
        display: none;
    }

    .col_roW {
        margin-top: 10px;
    }
    #carouselExampleSlidesOnly{
        top: 100px;
    }
    .social-icons li.title
    {
      display:block;
      margin-right:0;
      font-weight:600
    }
    .row_container{
        width: 300px;
        text-align: center;
    }
    .site-footer{
        height: 600px;
    }
    

}

/* تصميم مخصص للأجهزة اللوحية */
@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        height: 600px;
    }

    .text {
        width: 650px;
        margin-left: -660px;
        margin-top: 150px;
    }
    .site-footer [class^=col-]
    {
      margin-bottom:30px
    }
    .header .bg2 {
        width: 400px;
        height: 800px;
        margin-left: 610px;
        margin-top: -820px;
    }

    .header .bg3 {
        width: 50%;
        height: 796px;
        margin-top: -20px;


    }

    .text h2 {
        text-align: center;
    }

    .text p {
        text-align: center;
    }

    .text button {
        margin-left: 250px;
    }

    .container-best {
        margin-left: -70px !important;
    }

    .tastes {
        margin-left: -330px;

    }

    .card1{
        margin-right: 50px;
    }
    #img18{
        margin-left: 100px;
        margin-top: -230px;
    }
    .img12 {
        display: grid;
        margin-left: -340px;
    }

    .tast .card2 {
        
        display: grid;
    }
    .tast .card2 {
        margin-left: -130px;
        width: 300px;
    }
    .row_container{
        width: 700px;
    }
}